<article class="card">
<div class="card__media"><img src="/images/who-we-are/unsplash-image-W6BUMYEhTG8.webp" alt="Boston skyline above autumn trees" loading="lazy"><span class="tag">{{site.boston.time}}</span></div>
<div class="card__body">
<h3>Boston</h3>
<a class="address" href="{{site.boston.map}}">{{> pin}}<span>{{site.boston.address}}</span></a>
<span class="muted" style="font-size: 15px;">Praise followed by teaching; dinner together after. Message us so we know to expect you.</span>
<div class="card__links"><a class="link-u" href="{{site.boston.map}}">Get directions</a><a class="link-u soft" href="{{site.messenger}}">Message us</a></div>
</div>
</article>
