<article class="card">
<div class="card__media"><img src="/images/home/new_york_background.webp" alt="Midtown Manhattan at dusk" loading="lazy"><span class="tag">{{site.nyc.time}}</span></div>
<div class="card__body">
<h3>New York</h3>
<a class="address" href="{{site.nyc.map}}">{{> pin}}<span>{{site.nyc.address}}</span></a>
<span class="muted" style="font-size: 15px;">{{site.nyc.room}}. In person and streamed; lunch together after.</span>
<div class="card__links"><a class="link-u" href="{{site.nyc.map}}">Get directions</a><a class="link-u soft" href="{{site.messenger}}">Message us</a><a class="small-link" href="{{site.youtube_live}}">Also streamed live on YouTube</a></div>
</div>
</article>
